
html {
    font-family: 'Lexend Deca', sans-serif;
    /* font-family: 'Big Shoulders Display', cursive; */
    font-size: 15px;
    font-weight: 400;
    color: hsl(0, 0%, 95%);
}

body {
    background-color: hsl(0, 0%, 95%);
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    height: 600px;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 10%;
    line-height: 30px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    padding: 5%;
}

.sedans img {
    margin: auto;
    margin-left: 5%;
    margin-top: 5%;
}

.sedans button {
    color: hsl(31, 77%, 52%);
    font-family: 'Big Shoulder Display', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
    width: 75%;
    border-radius: 30px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.suvs img {
    margin: auto;
    margin-left: 5%;
    margin-top: 5%;
}

.suvs button {
    color: hsl(184, 100%, 22%);
    font-family: 'Big Shoulder Display', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
    width: 75%;
    border-radius: 30px;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
    padding: 5%;
}

.luxury img {
    margin: auto;
    margin-left: 5%;
    margin-top: 5%;
}

.luxury button {
    color: hsl(179, 100%, 13%);
    font-family: 'Big Shoulder Display', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
    width: 75%;
    border-radius: 30px;
}

.footer {
    background-color: teal;
    color: white;
    margin-top: 10%;
}

a {
    color: orange
}

.learn {
    border-radius: 20px;
    width: 50%;
    height: 50px;
    margin: auto;
    cursor: pointer;
}




@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        margin-top: 50%;
        width: 90%;
        margin-bottom: 50%;
    }
    .sedans {
        border-radius: 10px 10px 0 0;
    }
    .luxury {
        border-radius: 0 0 10px 10px;
    }
}













